<section class="section">
  <div class="center title">Usuarios</div>
  <table class="table full-width">
    <thead>
      <tr>
        <th class="center">Id</th>
        <th class="center">Nombre</th>
        <th class="center">Aepllido</th>
        <th class="center">Edad</th>
        <th class="center">Email</th>
        <th class="center">Editar</th>
        <th class="center">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td class="center">{{user.id}}</td>
        <td class="center">{{user.nombre}}</td>
        <td class="center">{{user.apellido}}</td>
        <td class="center">{{user.edad}}</td>
        <td class="center">{{user.email}}</td>
        <td class="center">
            <span class="icon" ng-click="editUser(user.id)">
              <i class="fas fa-edit edit"></i>
            </span>
        </td>
        <td class="center">
            <span class="icon" ng-click="openModal(user.id)">
              <i class="fas fa-trash remove"></i>
            </span>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="pagination is-right" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <li>
        <a class="pagination-previous" ng-click="previousPage()">Anterior</a>        
      </li>
      <li ng-if="currentPage > 1">
        <a class="pagination-link"
           aria-label="Goto page {{currentPage - 1}}" 
           ng-click="goToPage(currentPage - 1)">{{currentPage - 1}}
        </a>
      </li>
      <li>
        <a class="pagination-link current-page">{{currentPage}}
        </a>
      </li>
      <li ng-if="currentPage < maxPage">
        <a class="pagination-link" 
           aria-label="Goto page {{currentPage + 1}}" 
           ng-click="goToPage(currentPage + 1)">{{currentPage + 1}}
        </a>
      </li>
      <li>
        <a class="pagination-next" ng-click="nextPage()">Siguiente</a>
      </li>
    </ul>
  </nav>
  <div class="field is-grouped pt-15">
    <div class="control">
      <button class="button is-link" ng-click="newUser()">Nuevo Usuario</button>
    </div>
  </div>


  <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Eliminar Usuario</p>
          <button class="delete" aria-label="close" ng-click="closeModal()"></button>
        </header>
        <section class="modal-card-body">
          <p>Está seguro que deséa eliminar al usuario seleccionado?</p>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" ng-click="removeUser()">Eliminar</button>
          <button class="button" ng-click="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>
</section>