<section class="section">
    <div class="center title">Nuevo Usuario</div>

  <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nombre de Usuario" value="{{user.nombre}}" ng-model="user.nombre">
      </div>
    </div>
    
    <div class="field">
      <label class="label">Apellido</label>
      <div class="control">
        <input class="input" type="text" placeholder="Apellido del Usuario" value="{{user.apellido}}" ng-model="user.apellido">
      </div>
    </div>

    
    <div class="field">
        <label class="label">Edad</label>
        <div class="control">
          <input class="input" type="number" placeholder="Edad" value="{{user.edad}}" ng-model="user.edad">
        </div>
      </div>
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Correo@correo.com" value="{{user.email}}" ng-model="user.email">
      </div>
    </div>
    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" ng-click="createUser()">Guardar</button>
      </div>
      <div class="control">
        <button class="button is-text" ng-click="goHome()">Cancelar</button>
      </div>
    </div>
  </section>