.center {
  text-align: center !important;
}

.current-page {
  background-color: gray;
  cursor: default;
}

.edit {
  color: blue;
  cursor: pointer;
}

.form {
  background: white;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.pt-15 {
  padding-top: 15px;
}

.remove {
  color: red;
  cursor: pointer;
}

.title {
  font-size: 25px;
  padding: 20px;
}

